/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sacramento', cursive; */


body{
    margin: 0% auto;
    justify-content: center;
    box-sizing: border-box;
    /* padding: 4% 5%; */
    
}

.container01{
    box-sizing: border-box;
    background:linear-gradient(white,black);

    padding-bottom: 150px;
}

.head01{
    margin: 0% auto;
    height: 400px;
    color: white;
    background-color: rgb(0, 0, 0);
    background-image: url(bg.png);
    background-position: center;
    background-size: cover;
}

.box01{
    align-items: center;
    display: grid;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: 5% auto;
    padding: 3% 7%;
    border: 1px solid black;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: wheat;
    /* text-align: justify; */
    box-shadow: 5px 5px 15px rgba(111, 111, 111, 0.3);
    transition: 500ms;
}

.box01 h1{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
    font-weight: 700;
}

.box01 h3{
    font-size: 0.9rem;
    color: rgb(95, 95, 95);
    margin-top: 15px;
    font-family:serif;
    text-align: justify;
}

.box01:hover{
    transform: scale(1.05);
    transition: 500ms;
    box-shadow: 10px 10px 10px rgba(111, 111, 111, 0.5);
}

.col{
    margin: 10px auto;
    padding: 2% 3%;
    text-align: center;
}

.row{
    /* background-color: darkgray; */
    margin: -75px auto;
    z-index: 0;
}

.caros{
    height: 200%;
    text-align: center;
    margin: auto;
}

.middle01 h1{
    text-align: center;
    font-family: 'Montserrat';
    text-decoration:saddlebrown;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 8px;
    font-size: 3rem;
    padding-bottom: 25px;
    margin-top: 120px;
}

.outer01{
    background-color: rgb(22, 22, 22);
    margin: px auto;
    padding: 40px;
    /* overflow: hidden; */
}

.card01{
    width: 50%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 20px;
    box-shadow: 5px 5px 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    margin: 45px auto;
}

.card01 h1{
    position: relative;
    font-size: 10rem;
    font-family:'Poppins';
    font-weight: 900;
    letter-spacing: 8px;
    align-items: center;
    transform: translateY(50px);
    transition: 1s;
    z-index: 10;
}

.card01 h2{
    font-size: 1.3rem;
    font-family:'Poppins';
    font-weight: 600;
    /* visibility: hidden; */
}

.card01 p{
    font-size: 1rem;
    font-family:'Poppins';
    font-weight: 900;
    color: wheat;
    letter-spacing: 3px;
    /* visibility: hidden; */
    
}

.card01:hover{
    background: linear-gradient(-30deg,#03045E,#023E8A,#0077B6,#faa307,#faa307,#e85d04,#dc2f02,#6a040f,#370617,#283618);
    background-size: 400% 400%;
    animation: gradient 20s ease infinte;
}

.card01:hover h1{
    visibility:visible;
    transform: translateY(-45px) translateX(35%);
    transition: 1s;
    overflow: visible;

}

@keyframes gradient{
    0%{
        background-position: 0% 20%;
    }
    50%{
        background-position: 50% 65%;
    }
    100%{
        background-position: 25% 100%;
    }
}

.inner01{
    position: relative;
    justify-content: center;
    left: 0%;
    top: 25%;
    height: 100%;
    width: 100;
    visibility: hidden;
}

/* 
.box01:nth-child(odd) {
    align-self:baseline;
     text-align: left; 
     justify-content: flex-start;
    box-align:start;
  } */
  
.id{
    margin: 5px auto 10px;
    justify-content: center;
}

.idi{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 60px auto 10px;
    justify-content: center;
    border: 1px solid rgb(88, 88, 88);
}

.idd{
    border-left: 5px solid #a2a3a2;
    margin: 80px auto 40px;
    padding: 20px 20px;
}

.list{
    text-align: left;
    padding-left: 80px;
    margin: 35px auto;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(44, 99, 124);
    /* text-decoration: underline; */
}
a{
    text-decoration: none;
    color: rgb(21, 146, 104);
    font-weight: 900;
}

.sp{
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 3px;
    text-transform: capitalize;
    font-weight: 800;
    padding-left: 15px;
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.whoami{
    width: 50%;
    margin: 50px auto 100px;
    height: 40px;
    position: relative;
    z-index: 5;
    
}


.whoami .wai{
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;

}

.extra{
    background-color: rgb(245, 129, 154);
    top: -85px;
    z-index: 0;
}

.footer{
    color: rgb(80, 76, 75);
    text-transform: capitalize;
    font-size: 0.7rem;
    text-align: right;
    font-family: 'Poppins', cursive;
    font-weight: bold;
}

.midimage{
    width: 100%;
}

.box02:nth-child(even) {
    align-items:flex-end;
  } */


  .cardbox{
      background-color: black;
  }

  .wai{
      color: rgb(2, 2, 2);
      margin-bottom: 80px;
      margin-top: 0px;
  }


  .vs{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      transition: 750ms;
  }

  .vs:hover{
    transform: rotate(360deg) scale(1.2);
    transition: 2000ms;
}


  .vstext{
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content:center ;
    padding-top: 30%;
    transform: scale(1.1) translateY(-50px);
    transition: 1000ms;
}

.vstext:hover{
    transform: scale(3) translateY(-60px);
    transition: 1000ms;
}


  .ques{
      margin: 10px auto;
  }


  
  @media only screen and (max-width: 768px) {
    .card01 {
      width: 95%;
      margin: 0 auto;
    }

    .whoami{
        width: 30%;
        margin: 0 auto 30px;
        height: 20px;
        position: relative;
        z-index: 5;
        
    }
    
    .whoami .wai{
        color: rgb(0, 0, 0);
        font-weight: 900;
        font-size: 1.6rem;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 3px;
    
    }
    
    .extra{
        background-color: rgb(245, 129, 154);
        top: -35px;
        z-index: 0;
    }


    .idd,.idi{
        margin: 5px auto -30px;
        /* padding: 5px 0 ; */
    }

    .list{
        font-size:0.8rem ;
    }

    .outer01{
        margin: 0 auto 0px;
        padding: 0 auto 5px;
    }

    .row{
        padding: 0px auto 5px;
        margin-top: 0px;
    }



    .w-100{
        height: 200px;

    }

    .middle01 h1{
        font-size: 1.5rem;
        letter-spacing: 3px;
        font-weight: 800;
    }

    .box01{
        width: 80%;
        padding: 5px 30px;
        flex: none;
    }

    .vstext{
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content:center ;
        padding-top: 30%;
        transform: scale(1);
        transition: 1000ms;
    }

    .vstext:hover{
        transform: scale(1.5) translateY(0px);
        transition: 1000ms;
    }

    .vs{
        transform: scale(0.6);
    }

    .vs:hover{
        transform: rotate(-15deg) scale(0.8);
        transition: 1000ms;
    }
  
    
  }


  .titleGuess{
      height: 70px;
      text-align: center;
      text-transform: uppercase;
      font-family:cursive ;
      font-size: 15px;
      justify-content: center;
      align-content: center;
      margin-top: 100px;
  }

  .result h1{
      font-size: 1.85rem;
      color: rgb(117, 0, 0);
      margin-top: -50px;
      text-transform: capitalize;
      font-weight: 900;
      font-family: 'Sacramento', cursive;
  }

/* .vstext:hover{
      transform: rotate(360deg) translate(1.04);
  } */



